<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>{% yield title %}</title>

    <meta content="Wunder Mobility" name="description">
    <meta content="Jackson" name="author">

    <link href="assets/css/bootstrap.min.css?bust={{ $bust }}" rel="stylesheet">
    <link href="assets/css/style.css?bust={{ $bust }}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css?bust={{ $bust }}"
          rel="stylesheet">

</head>
<body>
{% yield content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js?bust={{ $bust }}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js?bust={{ $bust }}"></script>
<script src="assets/js/scripts.js?bust={{ $bust }}"></script>
</body>
</html>
